src/test/java/com/tvfreakz/repository/test.dtd

<!ELEMENT dataset (
    performer*,
    genre*,
    channels*,
    director*,
    programme*,
    episode*,
    prog_ep_perf*,
    channelprogramme*)>

<!ELEMENT channelprogramme EMPTY>
<!ATTLIST channelprogramme
    CHANNELPROGRAMMEID CDATA #REQUIRED
    CHANNELID CDATA #REQUIRED
    PROGRAMMEID CDATA #REQUIRED
    EPISODEID CDATA #REQUIRED
    RPEAT CDATA #IMPLIED
    NEWSERIES CDATA #IMPLIED
    PREMIERE CDATA #IMPLIED
    CHOICE CDATA #IMPLIED
    SUBTITLES CDATA #IMPLIED
    DEAFSIGNED CDATA #IMPLIED
    STARRATING CDATA #IMPLIED
    STARTTIME CDATA #IMPLIED
    ENDTIME CDATA #IMPLIED
    DURATION CDATA #IMPLIED
>

<!ELEMENT channels EMPTY>
<!ATTLIST channels
    CHANNELID CDATA #REQUIRED
    CHANNELNAME CDATA #IMPLIED
>

<!ELEMENT director EMPTY>
<!ATTLIST director
    DIRECTORID CDATA #REQUIRED
    DIRECTOR CDATA #IMPLIED
>

<!ELEMENT episode EMPTY>
<!ATTLIST episode
    EPISODEID CDATA #REQUIRED
    DIRECTORID CDATA #REQUIRED
    SUBTITLE CDATA #IMPLIED
    EPISODE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT genre EMPTY>
<!ATTLIST genre
    GENREID CDATA #REQUIRED
    GENRENAME CDATA #IMPLIED
>

<!ELEMENT performer EMPTY>
<!ATTLIST performer
    PERFORMERID CDATA #REQUIRED
    PERFORMER CDATA #IMPLIED
>

<!ELEMENT prog_ep_perf EMPTY>
<!ATTLIST prog_ep_perf
    PROGRAMMEID CDATA #REQUIRED
    EPISODEID CDATA #REQUIRED
    PERFORMERID CDATA #REQUIRED
>

<!ELEMENT programme EMPTY>
<!ATTLIST programme
    PROGRAMMEID CDATA #REQUIRED
    GENREID CDATA #REQUIRED
    DIRECTORID CDATA #REQUIRED
    PROGTITLE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    YR CDATA #IMPLIED
    FILM CDATA #IMPLIED
    WIDESCREEN CDATA #IMPLIED
    BNW CDATA #IMPLIED
    CERTIFICATE CDATA #IMPLIED
>

